.title_line{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 3px solid black;
    margin-bottom: 2vw; 
}

.title_no_line{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    position: relative;
    padding-bottom: 15px;
    border-bottom: 3px solid black;
    margin-bottom: 2vw;
}
.title_line:after{
    position: absolute;
    bottom: -1px;
    display: block;
    width: 130%;
    content: "";
    border-bottom: 1px solid black;;
}


.button_pattern{
    display: block;
    background-color: #4CAF50; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.button_pattern:hover{
    transform: scale(1.05);
    transition-duration: 1s
}

.big_block_pattern{
    display: block;
    width: 70%;
    min-height: 150px;
    border: 1px solid black;
    padding: 25px;
}

.little_block_pattern{
    display: block;
    min-height: 125px;
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;

}