@import url("pattern.css");
@import url("fonts.css");

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.848);
    box-sizing: border-box;
}

.container{
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
    margin: 0 auto;
}



header{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.2vw;
    
}

header nav{
    display: flex;
    justify-content: space-between;
}

.header_item{
    list-style: none;   
    display: flex;
}

.header_item>li:first-child{
    margin-right: 20px;
}

header nav a{
    text-decoration: none;
}

.header_name{
    text-align: center;
    font-size: 72px;
}


.menu_title{
    display: flex;
    align-items:center;
    width: 100%;
    font-size: 1.2vw;
    height: 5vw;
    color:white;
    background-color: rgba(0, 0, 0, 0.772);
    border-radius: 5px;
}
.menu_title>ul{
    list-style: none;   
    display: flex;
}

.menu_title a{
    margin-left: 20px;
    color:white;
    text-decoration: none;
}

.first_page{
    padding-top: 15px;
    padding-bottom: 30px;
}
.first_page_header{
    font-size: 5vw;
    margin-bottom: 20px;
}
.first_page_text{
    font-size: 2vw;
    margin-bottom: 30px;
}

.page_img_big{
    display: flex;
    column-gap:5px;
}
.big_img{
    list-style: none;  
    margin-bottom: 2px;
}

.big_img img{
    width: 100%;
}

.big_img>li{
    position: relative;
}

.img_title{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)  translateY(-50%);
}   
.img_title>h2{
    font-weight: 400;
    font-size: 50px;
    color: white;
}
.img_title>p{
    color: white;
}

.smaill_img>li{
    position: relative;
}
.smaill_img img{
    width: 100%;
}

.smaill_img .img_title>h2{
    font-size: 25px;
}

.smaill_img_mobil{
    display: none;
}

.smaill_img{
    gap: 6px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.second_page{
    display: flex;
    padding-bottom: 30px;
}

.event_blocks{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    row-gap: 30px;
    margin-bottom: 80px;
}

.events .block{
    width: 47%;

}

.block:nth-child(1)>.block_image{
    position: relative;
    min-height: 130px;
    width: 100%;
    height: 15vw;
    max-height: 218px;
    background: url("/img/Tile-Big-01.png") no-repeat center / cover;
    margin-bottom: 10px;
}

.block:nth-child(2)>.block_image{
    position: relative;
    width: 100%;
    min-height: 130px;
    height: 15vw;
    max-height: 218px;
    background: url("/img/Tile-Big-02.png") no-repeat center / cover;
    margin-bottom: 10px;
}

.block:nth-child(3)>.block_image{
    position: relative;
    width: 100%;
    min-height: 130px;
    height: 15vw;
    max-height: 218px;
    background: url("/img/Tile-Big-03.png") no-repeat center / cover;
    margin-bottom: 10px;
}

.block:nth-child(4)>.block_image{
    position: relative;
    width: 100%;
    min-height: 130px;
    height: 15vw;
    max-height: 218px;;
    background: url("/img/Tile-Big-04.png") no-repeat center / cover;
    margin-bottom: 10px;
}
.events .image_text{
    font-size: 1.5vw;
    position: absolute;
    padding: 4px 10px 4px 10px ;
    text-transform: uppercase;
    bottom: -1px;
}
.events .green{
    background-color:rgb(87, 219, 111);
}
.events .blue{
    background-color:rgb(43, 172, 241);
}

.events .purple{
    background-color:rgb(216, 109, 189);

}
.events .orange{
    background-color:rgb(236, 185, 103);
}


.events .text_main{
    font-weight: 500;
    font-size: 1.5vw;
}

.events .text_data{
    margin-top: 5px;
    font-weight: 300;
    font-size: 1.5vw;
}

.event_button{
    margin: 0 auto;
    padding: 3vw;
    font-size: 1.5vw;
    margin-bottom: 30px;
}

.social_users_blocks{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left:35px;
}

.social{
    margin-bottom: 35px;

}

.social_link{
    width: 100%;
}

.social_link>ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.social_link li{
    max-width: 70px;
}

.social_link a {
    text-decoration: none;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
}

.social_text{
    font-size: 1.4vw;
}

.social_link img{
    width: 100%;
    max-width: 43px;
    margin-bottom: 20px;
}


.users{
    min-height: 57vw;
}

.users_block>ul{
    list-style: none;  
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.users_block>ul>li{
    display: flex;
    align-items:center;
    column-gap: 20px;
    position: relative;
}

.block-image{
    width: 85px;
    height: 85px;
    visibility: hidden;
    position: relative;
}

.block-image>img{
    width: 100%;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    visibility: visible;

}


.users_block .block_text{
    font-size: 1.5vw;
    font-weight: 500;
}

.users_block .block_text>span{
    font-weight: 300;
}


.third_page{
    display:flex;
    flex-wrap:wrap;
    padding-bottom: 30px;
}

.lectures{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    background-color:rgba(0, 0, 0, 0.082);
    margin-bottom: 30px;
}


.lecture_video{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.video{
    width: 24%;
    height: 15vw;
    cursor: pointer;
}
.video_1{
    background:  url("/img/video-01.png") no-repeat center / cover;
}
.video_2{
    background:  url("/img/video-02.png") no-repeat center / cover;
}
.video_3{
    background:  url("/img/video-03.png") no-repeat center / cover;
}
.video_4{
    background:  url("/img/video-04.png") no-repeat center / cover;
}

.news_registration_block{
    display: flex;
    width: 100%;
    
}

.news_content{
    display: flex;
    width: 95%;
    padding-bottom: 10px;
    border-bottom: 1px solid black
}
.news .content_image{
    width: 25%;
}
.news .content_image>img{
    width: 100%;
}

.news .content_text{
    padding-top: 10px;
    font-size: 1.3vw;
    width: 75%;
    margin-left: 10px;
}
.news .content_text>h4{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5vw;
    margin-bottom: 1vw;
}

.news .text_main{
    margin-bottom: 2vw;
    
}


.registration{
    margin-left: 35px;
    width: 30%;
}

.registration .title_line:after{
    width: 120%;
}

.registration_form>label{
    font-size: 1.3vw;
    display: block;
    width: 70%;
    margin-bottom: 16px;
    font-weight: 500;
}
.registration_form input{
    border: 1px solid rgba(0, 0, 0, 0.786);
    padding-left: 15px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.registration input:focus{
    background-color:#4caf4f2c;
}

.registration input:hover{
    border:none;
    background-color:#4caf4f2c;
}


.registration_button{
    padding: 15px 30px;
    margin-left: auto;
}

footer{
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(0, 0, 0, 0.772); 
    
}
footer p{
    font-size: 1.5vw;
    color:rgba(218, 212, 212, 0.731);
    text-align: center;
}

@media (max-width:700px){
    .container{
        max-width: 680px;
        padding: 0;
    }
    header{
        padding: 20px  15px 0 15px;
    }
    .title_no_line{
        font-size: 15px;
    }
    .title_line{
        font-size: 15px;
    }

    .big_block_pattern{
        width: 100%;
    }
    .little_block_pattern{

        width: 100%;
    }

    header nav{
        font-size: 12px;
        margin-bottom: 20px;
    }

    .menu_title{
        overflow: auto;
        min-width: 415px;
        font-size: 11px;
        min-height: 35px;
        border-radius: 0;
 
    }

    .menu_title a{
        text-align: center;
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 20px;
        display: block;
        min-width: 100px;
    }

    .first_page{
        padding: 20px 15px 20px 15px;
        display: flex;
        flex-direction: column;
    }
    .first_page_header{
        font-size: 34px;
    }
    .first_page_text{
        font-size: 16px;
    }
    .page_img_big{
        display: block

    }

    .big_img{
        display: flex;
        flex-direction: column;
    }
    .big_img img{
        width: 100%;
    }
    .big_img:last-child{
        margin-top: 5px;
    }

    .smaill_img_mobil{
        display: block;
    }
    .smaill_img_mobil ul{
        list-style: none;
        display: flex;
        column-gap:5px
    }
    .smaill_img_mobil li{
        width: 100%;
        position: relative;
    }

    .smaill_img_mobil .img_title>h2{
        font-size: 24px;
    }
    .smaill_img_mobil img{
        width: 100%;
    }

    .smaill_img{
        display: none;
    }
    

    .second_page{
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
    }
    .social_users_blocks{
        width: 100%;
        margin-left: 0px;
    }
    .social .title_line{
        margin-bottom: 25px;
    }
    .events .text_main{
        font-size: 15px;
    }
    .events .image_text{
        font-size: 14px;
    }
    .events .text_data{
        font-size: 15px;
    }
    .event_button{
        padding: 15px;
        font-size: 15px;
        margin-right: auto;
        margin-left: 0px;
    }

    .users{
        margin-top: 15px;
        order: -1;
        margin-bottom: 30px;
    }
    .users .title_line{
        margin-bottom: 40px;
    }
    .news{
        display: none;
        
    }
    .registration{
        width: 80%;
        margin: 0 auto;
        border: 1px solid black;
    }
    .events{
        margin-bottom: 20px;
    }
    .event_blocks{
        flex-direction: column;
    }
    .events .block{
        width: 100%;
        
    
    }
    .users_block .block_text{
        font-size: 22px;
    }

    .social_text{
        font-size: 15px;
    }
    .lecture_video{
        overflow: scroll;
        column-gap:5px;
    }
    .video{
        min-width: 150px;
        min-height: 105px;
    }
    .registration_form>label{
        font-size: 14px;
    }
    footer p{
        font-size: 12px;
    }
    
    
}
